<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NizamEnergyProjectForm</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>accessControl</filter-name>
    <filter-class>webFilter.AccessControl</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>accessControl</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
        com.sun.xml.ws.transport.http.servlet.WSServletContextListener
     </listener-class>
  </listener>
  <servlet>
    <servlet-name>Attachment</servlet-name>
    <servlet-class>
        com.sun.xml.ws.transport.http.servlet.WSServlet
      </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Attachment</servlet-name>
    <url-pattern>/attachment/Image</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>
             servletListner.MyAppServletContextListener 
        </listener-class>
  </listener>
  <servlet>
    <servlet-name>super</servlet-name>
    <jsp-file>/superAdminDashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>super</servlet-name>
    <url-pattern>/SuperAdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>request</servlet-name>
    <jsp-file>/request.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>request</servlet-name>
    <url-pattern>/Request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dodashboard</servlet-name>
    <jsp-file>/doDashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dodashboard</servlet-name>
    <url-pattern>/DistrictOfficerDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shslogin</servlet-name>
    <jsp-file>/shsLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>shslogin</servlet-name>
    <url-pattern>/SolarHomeSystemLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loanrequest</servlet-name>
    <jsp-file>/loanRequest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loanrequest</servlet-name>
    <url-pattern>/LoanRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doform</servlet-name>
    <jsp-file>/doForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doform</servlet-name>
    <url-pattern>/DoForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dosalesmen</servlet-name>
    <jsp-file>/doSalesmen.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dosalesmen</servlet-name>
    <url-pattern>/DoSalesmen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>districtofficerr</servlet-name>
    <jsp-file>/districtOfficer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>districtofficerr</servlet-name>
    <url-pattern>/DistrictOfficerr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>superadminform</servlet-name>
    <jsp-file>/superAdminForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>superadminform</servlet-name>
    <url-pattern>/SuperAdminForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commissionbreakup</servlet-name>
    <jsp-file>/commissionBreakup.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>commissionbreakup</servlet-name>
    <url-pattern>/CommissionBreakup</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>profileV2</servlet-name>
    <jsp-file>/profileV2.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>profileV2</servlet-name>
    <url-pattern>/ProfileV2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doprofile</servlet-name>
    <jsp-file>/doProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doprofile</servlet-name>
    <url-pattern>/DoProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customerform</servlet-name>
    <jsp-file>/customerForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerform</servlet-name>
    <url-pattern>/CustomerForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doCustomer</servlet-name>
    <jsp-file>/doCustomer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doCustomer</servlet-name>
    <url-pattern>/DoCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loanview</servlet-name>
    <jsp-file>/loanView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loanview</servlet-name>
    <url-pattern>/LoanView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>salesmanview</servlet-name>
    <jsp-file>/salesmanView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>salesmanview</servlet-name>
    <url-pattern>/SalesManView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>districtsalesmanincome</servlet-name>
    <jsp-file>/districtSalesmanIncome.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>districtsalesmanincome</servlet-name>
    <url-pattern>/DistrictSalesmanIncome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editcustomer</servlet-name>
    <jsp-file>/EditCustomer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>editcustomer</servlet-name>
    <url-pattern>/EditCustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>applianceview</servlet-name>
    <jsp-file>/applianceView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>applianceview</servlet-name>
    <url-pattern>/ApplianceView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>superadminnock</servlet-name>
    <jsp-file>/superAdminNock.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>superadminnock</servlet-name>
    <url-pattern>/SuperAdminNock</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customer</servlet-name>
    <jsp-file>/customer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>appliances</servlet-name>
    <jsp-file>/appliances.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>appliances</servlet-name>
    <url-pattern>/Appliances</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>salesmen</servlet-name>
    <jsp-file>/salesmen.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>salesmen</servlet-name>
    <url-pattern>/Salesmen</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loan</servlet-name>
    <jsp-file>/loan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loan</servlet-name>
    <url-pattern>/Loan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finance</servlet-name>
    <jsp-file>/finance.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>finance</servlet-name>
    <url-pattern>/Finance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>analytics</servlet-name>
    <jsp-file>/Analytics.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>analytics</servlet-name>
    <url-pattern>/Analytics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgotpassword2</servlet-name>
    <jsp-file>/forgotPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotpassword2</servlet-name>
    <url-pattern>/ForgotPasswordd</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
</web-app>